#include "skreecustom.dtsi"

&kscan0 {
    col-gpios
        = <&shifter 0 GPIO_ACTIVE_LOW>
        , <&shifter 1 GPIO_ACTIVE_LOW>
        , <&shifter 2 GPIO_ACTIVE_LOW>
        , <&shifter 3 GPIO_ACTIVE_LOW>
        , <&shifter 4 GPIO_ACTIVE_LOW>
        , <&shifter 5 GPIO_ACTIVE_LOW>
//        , <&shifter 6 GPIO_ACTIVE_LOW>
//        , <&shifter 7 GPIO_ACTIVE_LOW>
        ;
};